*{
    font-family:'Spline Sans Mono', sans-serif;
}
.main{
    display:flex;
    justify-content:space-around;
    padding:30px 0px;
    width:80%;
    height:600px;
    margin:0 auto;
}
.area-desencriptar, .msg-desencript{
    display:inline-block;
}
.area-desencriptar{
    box-sizing:border-box;
    width:45%;
    padding:10px;
    vertical-align:top;
}
.desencript-block{
    margin:0 auto;
    display:flex;
    justify-content:center;
}
.field-desencriptar{
    width:100%;
    height:400px;
    resize:none;
    outline:none;
    font-size:25px;
}
.info-encript{
    padding:10px 0px;
    font-size:14px;
}

.bts-encript-area{
    display:flex;
    justify-content:space-between;
}
.bt{
    width:45%;
    margin-top:0.7em;
    font-size:1.2em;
    padding:0.8em;
    border-radius:20px;
    cursor:pointer;
    transition:all 0.5s;
}
.encript{
    border:1px solid #000;
    background-color:#ff0;
    color:#000;
}
.encript:hover{
    background-color:#000;
    color:#ff0;
    border:1px solid #ff0;
}


.desencript{
    background-color:#000;
    color:#ff0;
    border:1px solid #ff0;
}
.desencript:hover{
    border:1px solid #000;
    background-color:#ff0;
    color:#000;
}


.msg-desencript-area{
    width:40%;
    height:90%;
    position:relative;
}

.msg-desencript{
    box-sizing:border-box;
    background:url("../images/High\ quality\ products\ 1\ 1.jpg");
    background-repeat:no-repeat;
    background-position-x:50%;
    background-position-y:20%;
    background-size:80%;
    overflow:auto;
    word-wrap:break-word;
    line-height:1.5em;
    padding:10px;
    border:1px solid #999999;
    border-radius:10px;
    width:100%;
    height:90%;
    display:flex;
    flex-direction:column;
}

.msg-background{
    width:75%;
    margin:0 auto;
    font-size:25px;
    text-align:center;
    position:absolute;
    top:52%;
    left:50px;
}
.msg-background > p{
    font-size:16px;
    margin-top:20px;
}


.copiar{
    width:100%;
    background-color:lightblue;
}
.copiar:hover{
    background-color:#888;
    color:#000;
}

footer{
    width:80%;
    margin:0 auto;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
}

.background-branco{
    background:none;
}
.invisivel{
    opacity:0;
}